@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Merete Taule<br />
    Nordliveien 10, 0571 Oslo<br />
    <abbr title="Phone">P:</abbr>
    +47 901 95 457
</address>

<address>
    <strong>epost:</strong>   <a href="mailto:meretetaule@me.com">meretetaule@me.com</a><br />
</address>